@font-face {
    font-family: 'uthmani';
    src: url('KFGQPC Uthmanic Script HAFS Regular.otf');
    font-weight: normal;
    font-style: normal;
  }
  .uthmani {
    font-family: uthmani;
    font-size: 19px;
  }

#hadees-chapter-table tbody tr:hover{
    background-color: #e9ecef;
    cursor: pointer;
}